<div class="component">  
    <div class='menu-container1'>
         <h2 style="color: black;">Esami Paziente</h2>

         <mat-divider></mat-divider>
        
          <div style= " margin-top: 2%; display:flex; flex-direction: row;">
            <p>
                <mat-form-field appearance="fill" style="display: flex;">
                    <mat-label>Esami Eseguiti</mat-label>
                    <textarea  matInput placeholder="Esame del sangue, etc..." 
                    type="text" id="esamiPaziente" name="esamiPaziente" [(ngModel)]="Esamitxt" required
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="4"
                    cdkAutosizeMaxRows="12"
                    ></textarea>
                <mat-icon matSuffix>keyboard</mat-icon>
            </mat-form-field>
            </p>

        </div>
          

          

          
     </div>
