<div class="component">  
    <div class='menu-container1'>
         <h2 style="color: black;">Anagrafica Paziente</h2>
        
          <div style="display:flex; flex-direction: row;">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput cdkTextareaAutosize
                    cdkAutosizeMinRows="4"
                    cdkAutosizeMaxRows="12"
                    ></textarea>
                <mat-icon matSuffix>keyboard</mat-icon>
            </mat-form-field>
            </p>

        </div>
          

          

          
     </div>
