.button
{
    overflow: hidden;
}

.gitButton
{
    margin-left: auto;
    overflow: hidden;

}

.testoGitHub
{
    text-decoration: none;
    color: white;
}

.button::before, .gitButton::before, .button2::before
{
    content: "" ;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 3px;
    background-color: greenyellow;
    transform: translateX(-50%) scale(0);
    transition: transform 0.4s ease-in-out;
}

.button:hover, .testoGitHub:hover, .testoGitHub2:hover
{
    color: greenyellow;
}

.button:hover::before, .gitButton:hover::before, .button2:hover::before
{
    transform: translateX(-50%) scale(1);
}